<!DOCTYPE html>
<html>
<head lang="en">
    {% include 'includes/head.html' %}
</head>
<body>
    <header>
    {% include 'includes/header.html' %}
    {% include 'includes/navigation.html' %}
    </header>

    <div class="aside">
        {% for aside in site.asides %}
        {% include 'includes/asides/' + aside %}
        {% endfor %}
    </div>

    <div class="container">
    {% block container %}{% endblock %}
    </div>

    {% include 'includes/footer.html' %}

    {% include 'includes/after_footer.html' %}
</body>
</html>