<!DOCTYPE html>
<html>
<head lang="en">
    {% include 'includes/head.html' %}
</head>
<body>
    <header class="main-header">
    {% include 'includes/header.html' %}
    {% include 'includes/navigation.html' %}
    </header>

    <aside class="main-aside">
        {% for aside in site.asides %}
        {% include 'includes/asides/' + aside %}
        {% endfor %}
    </aside>

    <section class="main-container">
    {% block container %}{% endblock %}
    </section>

    <footer class="main-footer">
    {% include 'includes/footer.html' %}
    </footer>

    {% include 'includes/after_footer.html' %}
</body>
</html>