* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

p {
	margin-bottom: 1.5em;
}

a {
	color: #268bd2;
	-moz-transition: color 0.3s;
  	-o-transition: color 0.3s;
  	-webkit-transition: color 0.3s;
  	transition: color 0.3s;
}

article .content {
	font-family: 'Noto Serif', serif;
	color: #222;
	line-height: 1.6;
}

.wrapper {
    width: 100%;
}

.main-header {
    padding-top: 35px;
}

.main-header .title {
    margin-bottom: 35px;
}

.main-header .title h1 {
    font-size: 1.8em;
    font-weight: bold;
}

.main-header .title h1 a {
	text-decoration: none;
}

.main-header .title h2 {
    margin: .2em 0 0;
    font-size: 1em;
    color: #aaa;
    font-weight: normal;
}

.main-header .nav {
    list-style: none;
    border-bottom: 2px solid #eaeaea;
}

.main-header .nav li {
    display: inline-block;
    padding: 0 18px;
    border-right: 2px solid #eaeaea;
}

.main-header .nav li:first-child {
    padding-left: 0;
}

.main-header .nav li:last-child {
    border-right: none;
    padding-right: 0;
}


.main-header .nav li a {
    text-shadow: #fff 0 1px;
    float: left;
  	text-decoration: none;
  	font-size: 1em;
  	padding: .1em 0;
  	line-height: 1.5em;
}

.main-container {

}

.main-aside {
    width: 100%;
}

.blog-index {
    width: 100%;
}

.entry {
	margin-top: 30px;
	padding: 15px  0;
	border-bottom: 1px dotted #eaeaea;
}

.entry .date {
	margin-bottom: 0;
	text-transform: uppercase;
	color: #aaa;
}

.entry h2 a {
	text-decoration: none;
	color: #000;
}

.entry h2 a:hover {
	color: #268bd2;
}

.main-footer {
	clear: both;
	margin-bottom: 0;
	border-top: 2px solid #eaeaea;
	padding: 22px 0;
	color: #787878;
}

.paginate-wrapper {
    text-align: center;
    padding: 15px;
}

.paginate-wrapper a {
    margin-right: 16px;
    text-decoration: none;
}

.paginate-wrapper a.active {
    text-decoration: underline;
}

.paginate-wrapper a:last-child {
    margin-right: 0;
}

@media only screen and (min-width: 768px) {
    .wrapper {
        width: 80%;
        margin: 0 10%;
    }
    
    .main-header .title h1 {
        font-size: 3.2em;
    }
    
    .main-header .title h2 {
    	font-size: 1.8em;
    }
    
    .main-header .nav li a {
    	font-size: 1.3em;
    }

    .main-aside {
        float: right;
        width: 20%;
        padding: 12px 15px;
    }

    .blog-index {
        float: left;
        width: 80%;
        border-right: 2px solid #eaeaea;
    }
    
    .entry h2 {
    	font-size: 2.9em;
    	margin-bottom: 18px;
    }
    
    article .content {
    	font-size: 1.3em;
    }
}